
.container {
  padding: 1rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-input {
  width: 60%;
  padding: 0.5rem;
  margin-right: 0; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0; 
  padding: 9px 15px 9px 15px;
}

.search-bar {
  align-items: center; 
}

.search-button:hover {
  background-color: darkred;
}

.weather {
  text-align: center;
}

.info {
 border: solid;
 border-color: #e4e1e1;
}

.temp-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.temperature {
  font-size: 2rem;
}

.forecast {
  margin-top: 2rem;
}

.forecast-list {
  display: flex;
  justify-content: space-between;
}

.day {
  text-align: center;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.divider {
  height: 2px;
  background-color: #ddd;
  margin: 2rem 0;
}

.real-feel-data {
  display: flex;
  flex-direction: column;

  gap: 0.5rem; 
}

.real-feel-data p {
  margin: 0; 
  padding: 5px; 
  font-size: 16px;

}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.description-1, .description-2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  box-sizing: border-box;
}

.description-1 p, .description-2 p {
  margin: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.description-1 p:last-child, .description-2 p:last-child {
  border-bottom: none;
}
.welcome-message{
  text-align: center;
  font-size: 20px;
}